.SkyscaperControls{
    /* width: 300px;
    height: 400px;
    padding: 1rem;

    background-color: #f6d2d9 ;
    color: white;
    border-radius: 30px;

     display:flex ;
     align-items: center;
     flex-direction: column;
     border: 10px dotted palevioletred;
    
     padding-top: 10px;
     margin-top: 3rem;
*/
     width: 300px;
     height: 400px;
     padding: 1rem;
  
     background-color: #ecc1e2;
     color: white;
     border-radius: 30px;














}


