  
.Orders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    line-height: 45px;
    text-align: center;
    border: 13px double rgb(184, 225, 241);
   background-color: rgb(250, 219, 250);
    }