
  .Toolbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0 1rem;
    font-size: 28px;
     color: black;
    background-color:  #f6d2d9;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }

  /* .Toolbar.red{
    background-color:red;
  } */
  @media (max-width: 549px) {
    .Toolbar nav {
      display: none;
    }
  }


