.DrawerOpen {
    height: 3rem;
    padding: .5rem;
    margin: .5rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    cursor: pointer;
  }
  .DrawerOpen > div {
    height: 3px;
    width: 2rem;
    background-color: white;
  }
  .DrawerOpen > div:not(:last-child) {
    margin-bottom: .5rem;
  }