.Toolbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    background-color:#d3b3b8 ;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    position: sticky;
    top:0;
    left:0;
    font-size: 2rem;
}
  @media (max-width: 549px) {
    .Toolbar nav {
      display: none;
    }
  }