
  .Toolbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0 1rem;
    /* font-size: 2rem; */
    font-size: 28px;
     /* color: rgb(113, 190, 235);  */
     color: black;
    background-color:  #f6d2d9;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  @media (max-width: 549px) {
    .Toolbar nav {
      display: none;
    }
  }