.SkyscaperPreview {
  width: 100%;
  margin-right: 3rem;
  margin-bottom: 1rem;
  min-height: 430px;
  max-width: 430px;
  padding-top: 50px; 
  padding-bottom: 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: -1;
   background-color: #CAE7DF; 
} 
.levels {
 display: flex;
 flex-direction: column;
}
.price {
 font-size: 1.5rem;
 color: white;
 background-color: #ee9dad;
 border-radius: 1rem;
 padding: 0 1rem;
} 
 .birdImage{
   width: 40px;
   height: 40px;
   background-image: url(../../../Images/ch.png);
   background-size: cover;
   background-repeat: no-repeat;
   position: absolute;
   bottom: 550px;
  animation-name: bAnimation;
 animation-iteration-count: infinite;
 animation-duration: 7s;
 z-index:-1; 
 animation-direction: alternate;
 animation-timing-function: ease-in;    
} 
.rocketImage{
  width: 80px;
  height: 80px;
  background-image: url(../../../Images/plane.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 1700px;
  animation-name: rAnimation;
  animation-iteration-count: infinite;
  animation-duration: 7s;
   z-index: -1; 
  animation-direction: alternate;
  animation-timing-function: ease-in-out; 
}
.cloudImage{
  width: 80px;
  height: 80px;
  background-image: url(../../../Images/clouds.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 800px;
  animation-name: cAnimation;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  z-index: -1; 
  animation-direction: alternate;
  animation-timing-function: ease-in; 
} 
.seaImage{
  width: 70px;
  height: 70px;
  background-image: url(../../../Images/helicopter.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 1300px;
  animation-name: fAnimation;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  z-index: -1; 
  animation-direction: alternate;
  animation-timing-function: ease-in; 
} 
.cloImage{
  width: 80px;
  height: 80px;
  background-image: url(../../../Images/cloud-computing.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 900px;
  animation-name: cloAnimation;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  z-index: -1; 
  animation-direction: alternate;
  animation-timing-function: ease-in; 
} 
 .background{
  height: 150px;
  width: 500px;
  background-color:rgb(92, 69, 49) ; 
  position: absolute;
  bottom: 1px;
  z-index: -1;
  left:0;
}  
.travaImage{
  width: 1000px;
  height: 100px;
  background-image: url(../../../Images/trava.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 150px; 
  left:0;
  z-index: -1; 
} 


.peaceImage{
  width: 40px;
  height: 40px;
  background-image: url(../../../Images/peace.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 1000px;
 animation-name: pAnimation;
animation-iteration-count: infinite;
animation-duration: 7s;
z-index:-1; 
animation-direction: alternate;
animation-timing-function: ease-in;    
} 
@keyframes pAnimation{
  0%{ 
   right:100%; 
     transform: translate(400px, 100%);
  }
  50%{
      right:100%;
  }
  100%{
    right: 100%;
  }
}
 






@keyframes cloAnimation{
  0%{
    right: 100%;  
     transform: translate(600px, 100%);  
  }
  50%{
      right:100%; 
  }
  100%{
    right: 100%;
  }
 }
@keyframes fAnimation{
  0%{
    right: 100%;  
     transform: translate(400px, 100%);  
  }
  50%{
      right:100%; 
  }
  100%{
    right: 100%;
  }
 }

@keyframes cAnimation{
  0%{
    right: 100%;  
     transform: translate(400px, 100%);  
  }
  50%{
      right:100%; 
  }
  100%{
    right: 100%;
  }
 }
 @keyframes rAnimation{
  0%{  
    right:100%;
     transform: translate(500px, 100%);
  }
  50%{
      right:100%;
  }
  100%{
    right: 100%;
  }
 }
 @keyframes bAnimation{
   0%{ 
    right:100%; 
      transform: translate(400px, 100%);
   }
   50%{
       right:100%;
   }
   100%{
     right: 100%;
   }
 }
  