.SkyscaperPreview {
   background-color: #e3dae7;
   margin: 0 auto;
   margin-bottom: 20px;
   min-height: 430px;
   min-width: 430px;
   padding-top: 50px;
   padding-bottom: 10px;
   border-radius: 30px;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   border: 10px dotted rgb(187, 111, 136);
   overflow: hidden;
   position: relative;
   z-index: -1;
}
.levels {
  display: flex;
  flex-direction: column;
}
.price {
  font-size: 1.5rem;
  color: white;
  background-color: rgb(213, 92, 224);
  border-radius: 1rem;
  padding: 0 1rem;
 }

 .birdImage{
   width: 40px;
   height: 40px;
   background-image: url(../../../Images/ch.png);
   background-size: cover;
   background-repeat: no-repeat;
   position: absolute;
   bottom: 500px;
  animation-name: bAnimation;
 animation-iteration-count: infinite;
 animation-duration: 7s;
/* z-index: inherit; */
 animation-direction: alternate;
 animation-timing-function: ease-in;    
} 



.rocketImage{
  width: 80px;
  height: 80px;
  background-image: url(../../../Images/shuttle.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 700px;
  animation-name: rAnimation;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  /* z-index: inherit; */
  animation-direction: alternate;
  animation-timing-function: ease-in; 
}




.cloudImage{
  width: 80px;
  height: 80px;
  background-image: url(../../../Images/clouds.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 900px;
  animation-name: cAnimation;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  /* z-index: inherit; */
  animation-direction: alternate;
  animation-timing-function: ease-in; 
  
  
} 
@keyframes cAnimation{
 from{
     left: 100%;
 }
 0%{  
    transform: translate(120px, 50%);
 }
 50%{
     right:100%;
 }
 100%{
   right: 100%;

 }
}

@keyframes rAnimation{
 from{
     left: 100%;
 }
 0%{  
    transform: translate(120px, 50%);
 }
 50%{
     right:100%;
 }
 100%{
   right: 100%;

 }
}

@keyframes bAnimation{
  from{
      left: 100%;
  }
  0%{  
     transform: translate(120px, 50%);
  }
  50%{
      right:100%;
  }
  100%{
    right: 100%;
 
  }
}





