.Drawer .content{ 
  width: 250px;
height: 100%;
position: fixed;
top: 0;
left: 0;

font-size: 2rem;
color: white;
box-shadow: 0 0 10px rgba(0, 0, 0, .5);
background-color: #d6b2ca;
transition: transform .3s ease-out;
}

.open{
    transform: translateX(0);
}
.close{
    transform: translateX(-260px);
}

@media (min-width: 550px) {
    .Drawer  {
      display: none;
    }
  }