/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
*{
    box-sizing: border-box;
}
body {
    margin: 0 ;

   font-family: 'Berkshire Swash', cursive;
}
/* 
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
*/
.App h1 {
     text-align: center; 
    color: rgb(63, 65, 226);
    font-size: 38px;

     animation-name: scaleAnimation;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-timing-function: ease-in;    
} 

@keyframes scaleAnimation {
    10%{
        
        transform: scale(.4);
    }
    50%{
        transform: scale(.6);
    }
    100%{
        transform: scale(.8);
    }
}    